body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    height: 100vh;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    width: 300px;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 8px;
}

.txt_field input{
    width: 300px;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 8px;
}

.button {
    background-color: #04AA6D;
    width: 50%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    
  }
  
  .button:hover {opacity: 0.6}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  img {
    max-width: 50%;
    height: auto;
    float: left;
    padding-left: 8px;

  }
  